# Variables and data Types

In [2]:
x=5
type(x)

int

In [4]:
y=3.1
type(y)

float

In [6]:
name="raghad"
type(name)

str

In [8]:
is_active=True
type(is_active)

bool

# Arithmetic and Logical Operations

In [13]:
a=10
b=10
s=a+b
print("a + b = "+str(s))

a + b = 20

In [15]:
print(f" a + b = {s}")

 a + b = 20

In [17]:
x=30
d=10
x>d

True

In [19]:
a=30
b=10
(a>b)and(10>=9)

True

In [21]:
x=5
y=5
x>y

False

In [23]:
x=5
y=6
(y>x)or(2>x)

True

# Conditional Statements (if, elif, else)

In [28]:
x=10
if x>5:
    print("x is greater than 5")

x is greater than 5

In [30]:
x=4
if x>5:
    print("x is greater than 5")
else :
    print("x is less than 5")

x is less than 5

In [32]:
x=9
if x<5:
    print("x is less than 5")
elif x>10:
    print("x is greater than 10")
else :
    print("x is less than 10")

x is less than 10

In [34]:
x=5
if (x>2)and(x>=5):
     print ("The condition is true")
else :
     print ("The condition is false")

The condition is true

In [36]:
x=10
if (x>2)and(x<=5):
     print ("The condition is false")
elif (x>2)and(x>=20):
     print ("The condition is false")
else :
    print("try again")

try again

# Loops ( for and While)

In [39]:
for i in range(5):
    print(i)

0
1
2
3
4

In [41]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [43]:
count =0
while count<5:
    print(count)
    count+=1

0
1
2
3
4

In [45]:
for i in range(1,50):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

# Functions in Python

In [46]:
def fun1(fname , lname):
    print (f"{fname} {lname}")

In [48]:
fun1("Raghad","Abdulrahman")

Raghad Abdulrahman

In [54]:
name = input ("Enter your name")

Enter your name raghad

In [56]:
type(name)

str

In [60]:
num1= int(input("Enter number 1 : "))

Enter number 1 :  2

In [62]:
type(num1)

int

#  multiplication tables

In [64]:
num1= int(input("Enter the number :"))
for i in range(1,11):
    print (f" {i} X {num1} = {i*num1}")

Enter the number : 5

 1 X 5 = 5
 2 X 5 = 10
 3 X 5 = 15
 4 X 5 = 20
 5 X 5 = 25
 6 X 5 = 30
 7 X 5 = 35
 8 X 5 = 40
 9 X 5 = 45
 10 X 5 = 50

#  chech if a  number is even or odd

In [68]:
num1= int(input("Enter the number :"))

Enter the number : 6

In [70]:
if num1 % 2 == 0:
     print("even")
else:
    print ("odd")

even

#  check if a Number is Positive, Negative, or Zero

In [77]:
num1= int(input("Enter the number :"))

Enter the number : 6

In [79]:
num1= int(input("Enter the number :"))
if num1 >  0:
     print("Positive")
elif num1 <0:
    print("Negitive")
else :
    print("Zero")

Enter the number : 7

Positive

#  simple calculator program

In [81]:
num1= int(input("Enter the number1 :"))
oper= input("Enter the operatoe :")
num2= int(input("Enter the number2 :"))
if oper == "+":
    result= num1+num2
elif oper == "-":
     result= num1-num2
elif oper == "*":
      result= num1*num2
else :
     result= num1/num2
print(f"{result}")

Enter the number1 : 5
Enter the operatoe : +
Enter the number2 : 1

6