# Creating a LIST and performing basic operations

In [3]:
my_list = [1,2,3,4]

In [5]:
first_item = my_list[0]  
first_item

1

In [7]:
my_list[0] = 10
my_list

[10, 2, 3, 4]

In [9]:
my_list.append(5)
my_list

[10, 2, 3, 4, 5]

In [11]:
my_list.remove(3)
my_list

[10, 2, 4, 5]

In [13]:
sliced_list = my_list[1:3]
sliced_list

[2, 4]

In [15]:
ragd_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
first_item = ragd_list[0]
ragd_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
ragd_list.append(15)
ragd_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 15]

In [21]:
ragd_list[1]=20
ragd_list

[1, 20, 3, 4, 5, 6, 7, 8, 9, 10, 15]

In [23]:
print("ragd_list:", ragd_list[2:])

ragd_list: [3, 4, 5, 6, 7, 8, 9, 10, 15]

# Creating a Dictionary and performing basic operations

In [29]:
my_dict = {"name" : "Alice","Age":25}
my_dict

{'name': 'Alice', 'Age': 25}

In [31]:
name = my_dict["name"]
my_dict

{'name': 'Alice', 'Age': 25}

In [33]:
my_dict["city"] = "New York"
my_dict

{'name': 'Alice', 'Age': 25, 'city': 'New York'}

In [35]:
my_dict["Age"]=30
my_dict

{'name': 'Alice', 'Age': 30, 'city': 'New York'}

In [37]:
my_dict.values()

dict_values(['Alice', 30, 'New York'])

In [39]:
my_dict.keys()

dict_keys(['name', 'Age', 'city'])

my_dict.items()

In [43]:
del my_dict["name"]
my_dict

{'Age': 30, 'city': 'New York'}

# dic-myExample

In [46]:
ragd_dic = {"name": "raghad","Age":21, "City":"Tabuk"}
ragd_dic

{'name': 'raghad', 'Age': 21, 'City': 'Tabuk'}

In [48]:
ragd_dic["Age"]=30
ragd_dic

{'name': 'raghad', 'Age': 30, 'City': 'Tabuk'}

In [50]:
ragd_dic["Email"]="raghad@gmail.com"

In [52]:
ragd_dic

{'name': 'raghad', 'Age': 30, 'City': 'Tabuk', 'Email': 'raghad@gmail.com'}

In [54]:
del ragd_dic["City"]
ragd_dic

{'name': 'raghad', 'Age': 30, 'Email': 'raghad@gmail.com'}

In [56]:
ragd_dic.values()

dict_values(['raghad', 30, 'raghad@gmail.com'])

In [58]:
ragd_dic.keys()

dict_keys(['name', 'Age', 'Email'])

In [60]:
ragd_dic.items()

dict_items([('name', 'raghad'), ('Age', 30), ('Email', 'raghad@gmail.com')])

In [62]:
my_dic2={ "name":["raghad","rahaf","Eman"]}

In [64]:
my_dic2

{'name': ['raghad', 'rahaf', 'Eman']}

In [66]:
my_dic2["Ages"]= 21,21,20

In [68]:
my_dic2

{'name': ['raghad', 'rahaf', 'Eman'], 'Ages': (21, 21, 20)}

# Creat a tuple

In [71]:
my_tuple=(1,2,3,"hello",4.5)
my_tuple

(1, 2, 3, 'hello', 4.5)

In [73]:
my_l=list(my_tuple)

In [75]:
my_l

[1, 2, 3, 'hello', 4.5]

In [77]:
my_l=tuple(my_tuple)

In [79]:
my_tuple

(1, 2, 3, 'hello', 4.5)

In [81]:
print(my_tuple[2])
print(my_tuple[-1])
sliced_tuple =my_tuple[1:4]
sliced_tuple

3
4.5

(2, 3, 'hello')

# Creating a Set and performing basic operations¶

In [84]:
my_set = {1,2,3,4}

In [86]:
my_set.add(5)
my_set

{1, 2, 3, 4, 5}

In [88]:
my_set.update([6,7])
my_set

{1, 2, 3, 4, 5, 6, 7}

In [90]:
my_set.remove(3)
my_set

{1, 2, 4, 5, 6, 7}

In [91]:
my_set.discard(4)
my_set

{1, 2, 5, 6, 7}

In [144]:
set1 = {1,2,3}
set2 = {3,4,5}

In [146]:
union_set = set1 | set2
union_set

{1, 2, 3, 4, 5}

In [148]:
intersection_set = set1 & set2 
intersection_set

{3}

In [150]:
difference_set = set1 - set2
difference_set

{1, 2}

In [152]:
difference_set = set2 - set1
difference_set

{4, 5}

In [132]:
my_set2={1,True,2,3}
my_set2

{1, 2, 3}

In [134]:
my_set2={True,1,2,3}
my_set2

{True, 2, 3}

In [136]:
my_set2.remove(True)
my_set2

{2, 3}

In [142]:
my_set2.discard(2)
my_set2

{3}

# Create a simple program to sum of numbers in a list .

In [93]:
numbers = [1, 2, 3, 4, 5]
sum(numbers)

15

In [95]:
s=0
for i in numbers:
    s=i+s
print(s)

15

# Create a simple program to find maximum and minimum number in a list.

In [98]:
max(numbers)

5

In [100]:
min(numbers)

1

# .Create a simple program to Count the occurrences of each number in the list

In [105]:
list2=[1,1,1,1,1,1]

In [107]:
list2.count(1)

6

# .Create a simple program to print the even numbers in a list

In [237]:
num = [10, 11, 12, 13, 14, 15, 16, 17]
for i in num:
       if i % 2 == 0:
           print(i)

10
12
14
16